extends _layout
block page_title
  title Pug 模板 | 首頁
block style
  link(rel="stylesheet", href="css/index.min.css")
block script
  //- 一些基本的練習放置位置
  //- script(type="text/javascript" src="js/index.js")
  
  //- Leet Code 演算法練習
  //- script(type="text/javascript" src="js/test-class.js")
  
  //- callback / promise / asyc await 練習
  //- script(type="text/javascript" src="js/promise.js")
  
  //- 高階函式練習
  //- script(type="text/javascript" src="js/higher-order-function.js")
  
  //- this 練習
  script(type="text/javascript" src="js/this.js")
  
  //- prototype 原型鍊 練習
  //- script(type="text/javascript" src="js/prototype.js")

  //- currying 柯里化練習
  //- script(type="text/javascript" src="js/currying.js")

  //- event loop 練習
  //- script(type="text/javascript" src="js/event-loop.js")

  script(type="text/javascript").
    
block content
  .main-wrap
    // p.text-center pug test
    //- i.be-icon.be-icon-arror-left
    //-.dialog__box.first.dialog__box--show
    //- .dialog__box.first
    //-   p First Dialog
    //- .dialog__box.second
    //-   p Second Dialog
    //- ------ event delegation
    //- div#first 111
    //-   div#second 222
    //-     div#third 333
    //- ------ css flex element demo
    //- .flex-box
    //-   .box.red
    //-   .box.blue
    //-   .box.green
    .testbox(style="height:50px") 123
