extends _layout
block page_title
  title Pug 模板 | 首頁
block style
  link(rel="stylesheet", href="css/index.min.css")
block script
  //- script(type="text/javascript" src="js/index.min.js")
  //- script(type="text/javascript" src="js/test-class.min.js")
  script(type="text/javascript" src="js/promise.min.js")
  script(type="text/javascript").
block content
  .main-wrap
    // p.text-center pug test
    //- i.be-icon.be-icon-arror-left
    //-.dialog__box.first.dialog__box--show
    //- .dialog__box.first
    //-   p First Dialog
    //- .dialog__box.second
    //-   p Second Dialog
    //- ------ event delegation
    //- div#first 111
    //-   div#second 222
    //-     div#third 333

